<style>
    body {
        margin: 0;
    }
</style>

Met vriendelijke groet,<br>
{{name}}<br>
<br>
<table cellpadding="0" cellspacing="0" role="presentation" style="width: 500px;">
    <tbody>
        <tr>
            <td width="20px" style=" padding-bottom: 10px;">
                <img src="https://team-switch-reclamebureau.github.io/signatures/tcgortenmulder/2026/img/phone.jpg"
                    alt="" width="20" height="20" style="display: block; border: 0; outline: 0;">
            </td>
            <td width="10px"></td>
            <td width="210" style=" padding-bottom: 10px;">
                {{phone}}
            </td>
            <td width="20px"></td>
            <td width="20" style=" padding-bottom: 10px;">
                <img src="https://team-switch-reclamebureau.github.io/signatures/tcgortenmulder/2026/img/link.jpg"
                    alt="" width="20" height="20" style="display: block; border: 0; outline: 0;">
            </td>
            <td width="10px"></td>
            <td width="210px" style=" padding-bottom: 10px;">
                tcgortenmulder.nl
            </td>
        </tr>
        <tr>
            <td width="20px" style=" padding-bottom: 10px;">
                <img src="https://team-switch-reclamebureau.github.io/signatures/tcgortenmulder/2026/img/location.jpg"
                    alt="" width="20" height="20" style="display: block; border: 0; outline: 0;">
            </td>
            <td width="10px"></td>
            <td width="460px" style=" padding-bottom: 10px;">
                Energieweg 110, 3641 RT, Mijdrecht
            </td>
        </tr>
    </tbody>
</table>

<table cellpadding="0" cellspacing="0" role="presentation" style="width: 500px;">
    <tbody>
        <tr>
            <td width="20px" style=" padding-bottom: 10px;">
                <a href="https://nl.linkedin.com/company/tcgortenmulder" target="_blank">
                    <img src="https://team-switch-reclamebureau.github.io/signatures/tcgortenmulder/2026/img/linkedin.jpg"
                        alt="" width="20" height="20" style="display: block; border: 0; outline: 0;">
                </a>
            </td>
            <td width="10px"></td>
            <td width="20px" style=" padding-bottom: 10px;">
                <a href="https://www.instagram.com/t.c.gortenmulder.bv/" target="_blank">
                    <img src="https://team-switch-reclamebureau.github.io/signatures/tcgortenmulder/2026/img/instagram.jpg"
                        alt="" width="20" height="20" style="display: block; border: 0; outline: 0;">
                </a>
            </td>
            <td width="450px"></td>
        </tr>
        <tr>
            <td colspan="4">
                <a href="https://tcgortenmulder.nl" target="_blank">
                    <img src="https://team-switch-reclamebureau.github.io/signatures/tcgortenmulder/2026/img/logo.jpg"
                        alt="T.C. Gortenmulder" width="300" height="76" style="display: block; border: 0; outline: 0;">
                </a>
            </td>
        </tr>
    </tbody>
</table>