<style>
    body {
        margin: 0;
    }
</style>


<table cellpadding="0" cellspacing="0" role="presentation"
    style="width: 400px; font-family: Arial, Helvetica, sans-serif;">
    <tbody>
        <tr>
            <td colspan="7">
                Met vriendelijke groet,<br>
                <span style="color: #ED1D24; font-size: larger; font-weight: bold; line-height: 2;">{{name}}</span><br>
                <br>
            </td>
        </tr>
        <tr>
            <td width="20px" style="padding-bottom: 10px;">
                <img src="https://team-switch-reclamebureau.github.io/signatures/tcgortenmulder/2026/img/phone.jpg"
                    alt="" width="20" height="20" style="display: block; border: 0; outline: 0;">
            </td>
            <td width="10px"></td>
            <td width="370px" style="padding-bottom: 10px;">
                {{phone}}
            </td>
        </tr>
        <tr>
            <td width="20px" style="padding-bottom: 10px;">
                <img src="https://team-switch-reclamebureau.github.io/signatures/tcgortenmulder/2026/img/location.jpg"
                    alt="" width="20" height="20" style="display: block; border: 0; outline: 0;">
            </td>
            <td width="10px"></td>
            <td width="370px" style="padding-bottom: 10px;">
                Energieweg 110, 3641 RT, Mijdrecht
            </td>
        </tr>
        <tr>
            <td width="20px" style="padding-bottom: 10px;">
                <img src="https://team-switch-reclamebureau.github.io/signatures/tcgortenmulder/2026/img/link.jpg"
                    alt="" width="20" height="20" style="display: block; border: 0; outline: 0;">
            </td>
            <td width="10px"></td>
            <td width="370px" style="padding-bottom: 10px;">
                tcgortenmulder.nl
            </td>
        </tr>
    </tbody>
</table>

<table cellpadding="0" cellspacing="0" role="presentation" style="width: 400px;">
    <tbody>
        <tr>
            <td colspan="4">
                <a href="https://tcgortenmulder.nl" target="_blank">
                    <img src="https://team-switch-reclamebureau.github.io/signatures/tcgortenmulder/2026/img/logo.jpg"
                        alt="T.C. Gortenmulder" width="285" height="73" style="display: block; border: 0; outline: 0;">
                </a>
            </td>
        </tr>
    </tbody>
</table>