<style>
    body {
        margin: 0;
    }
</style>

<table cellpadding="0" cellspacing="10" role="presentation">
    <tbody>
        <tr>
            <td colspan="3">
                Met vriendelijke groet/Kind regards,<br>
                {{name}}<br>
                <br>
            </td>
        </tr>
        <tr>
            <td width="120px">
                <img src="https://team-switch-reclamebureau.github.io/signatures/herburg-roses-nini/2026/img/logo.jpg"
                    alt="Herburg Roses Nini logo" width="120" height="120"
                    style="display: block; border: 0; outline: 0;">
            </td>
            <td></td>
            <td
                style="font-size: 12px; font-family: Verdana, sans-serif; text-decoration: none; color: #414142; line-height: 1.6;">
                <span style="font-size: 14px; color: #485B3F;  font-weight: bold; font-style: italic;">Our impact blooms
                    beyond our
                    farms</span><br>
                <br>
                <a style="text-decoration: none; color: #414142;" href="mailto:{{email}}">{{email}}</a><br>
                <a style="text-decoration: none; color: #414142;"
                    href="tel:{{#if mobile}} {{mobile}} {{else}} {{phone}} {{/if}}">{{#if
                    mobile}} {{mobile}} {{else}}
                    {{phone}} {{/if}}</a><br>
                <br>
                <table cellpadding="0" cellspacing="0" role="presentation">
                    <tr>
                        <td style="font-size: 12px; font-family: Verdana, sans-serif; text-decoration: none;">
                            <a href="https://www.herburg-nini.com"
                                style="color: #485B3F; text-decoration: none; font-weight: bold;">herburg-nini.com</a>
                        </td>
                        <td>
                            <a href="https://www.linkedin.com/company/herburg-roses/?originalSubdomain=nl">
                                <img src="https://team-switch-reclamebureau.github.io/signatures/herburg-roses-nini/2026/img/linkedin.jpg"
                                    alt="LinkdIn logo" width="30" height="30"
                                    style="display: block; border: 0; outline: 0;">
                            </a>
                        </td>
                        <td>
                            <a href="https://www.instagram.com/herburg_nini/">
                                <img src="https://team-switch-reclamebureau.github.io/signatures/herburg-roses-nini/2026/img/instagram.jpg"
                                    alt="Instagram logo" width="30" height="30"
                                    style="display: block; border: 0; outline: 0;">
                            </a>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td colspan="3"
                style="height: 1px; background-color: #cccccc; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
                &nbsp;
            </td>
        </tr>

        <tr>
            <td colspan="3" style="font-size: 12px; font-family: Verdana, sans-serif; color: #414142;">
                <img src="https://team-switch-reclamebureau.github.io/signatures/herburg-roses-nini/2026/img/banner.jpg"
                    alt="Herburg Roses Nini banner" width="352" height="58"
                    style="display: block; border: 0; outline: 0;">
            </td>
        </tr>

        <tr>
            <td colspan="3" style="font-size: 12px; font-family: Verdana, sans-serif; color: #868686;">
                Disclaimer: The information contained in this message may be confidential and is intended exclusively
                for the addressee(s). If you receive this message in error, you are requested not to use the content and
                to inform the sender by returning the message and removing it from your files. The sender's employer
                does not accept any liability for any damage resulting from the use and/or acceptance of the content of
                the message. The sender's employer is also not liable for the contentand any harmful consequences of
                personal e-mail messages sent by its employees.
            </td>
        </tr>
    </tbody>
</table>